bin
obj
csx
.vs
edge
Publish

ManualTrigger.ps1

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

*.xlsx
strategy_results_*.html
.vscode/settings.json
.vscode/extensions.json
*.rest
local_crypto.db
.gitignore
local_crypto.db-wal
local_crypto.db-shm
local_crypto.db
temp_output.txt
local_crypto.db
database/fetch_historical_data.py
